APP_NAME=Richmond Sarpong CyberTech 360
APP_ENV=development
API_V1_PREFIX=/api/v1
SECRET_KEY=change-this-before-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
POSTGRES_DB=cybertech360
POSTGRES_USER=cybertech360
POSTGRES_PASSWORD=cybertech360_dev_password
DATABASE_URL=postgresql+psycopg://cybertech360:cybertech360_dev_password@db:5432/cybertech360
CORS_ORIGINS=http://localhost:5500,http://127.0.0.1:5500,http://localhost:8000
